USE [master]
GO
/****** Object:  Database [cnw]    Script Date: 16/06/2024 15:39:09 ******/
CREATE DATABASE [cnw]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cnw', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\cnw.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cnw_log', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\cnw_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cnw].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cnw]
GO
/****** Object:  User [trungnhan]    Script Date: 16/06/2024 15:39:10 ******/
CREATE USER [trungnhan] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[account]    Script Date: 16/06/2024 15:39:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[uID] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](50) NOT NULL,
	[isSell] [int] NOT NULL,
	[isAdmin] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 16/06/2024 15:39:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[uID] [int] NULL,
	[name] [nvarchar](50) NULL,
	[price] [money] NULL,
	[image] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 16/06/2024 15:39:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[cid] [int] NOT NULL,
	[cname] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 16/06/2024 15:39:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[image] [nvarchar](255) NOT NULL,
	[price] [money] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
	[cateID] [int] NOT NULL,
	[sell_ID] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
